# Arquivos de configuração de IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Arquivos de build do Maven/Java
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Arquivos de build do NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos de log e sistema
*.log
.DS_Store
HELP.md